{% extends 'app_common/common_files/base_template.html' %}
{% load static %}

{% block content %}
{% include 'app_common/common_files/navbar.html' %}
<style>
    .contentbar {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Only this section should be scrollable */
    height: calc(100vh - 66px); /* Full height minus navbar height and footer height */
    margin-left: 10px;
}
</style>
{% include 'app_jivapms/mod_web/common_files/css.html' %}

    <div class="content-wrapper">
        <button class="toggle-btn" onclick="toggleSidebar()">
            <i class="bi bi-list"></i>
        </button>
        <div class="sidebar" id="sidebar">
            <!-- Scrollable menu section -->
            <div class="sidebar-menu">               
                <a href="{% url 'list_organizations' %}" class="nav-link">
                    <i class="bi bi-calendar"></i>
                    <span>Organizations</span>
                </a>
            </div>

            <!-- Sticky settings section -->
            <div class="settings">
                <a href="#" class="nav-link" >
                    <i class="bi bi-gear"></i>
                    <span>Settings</span>
                </a>
            </div>
        </div>

        <div class="contentbar mb-5" id="contentbar">
           
                
<div class="container mt-1 mb-4">
    <h1 class="text-center">Organization: {{ organization.name }}</h1>
  
    <table class="table table-bordered">
        <!-- <thead class="thead-dark">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        </thead> -->
        <tbody>
        <tr>
            <td><b>Name</b></td>
            <td  id="org-name"
           
            >{{ organization.name }}</td>
        </tr>
        <tr>
            <td><b>Vision</b></td>
            <td  id="org-vision"
           
            >{{ org_detail.vision }}</td>
        </tr>
        <tr>
            <td><b>Mission</b></td>
            <td  id="org-mission"
            
            >{{ org_detail.mission }}</td>
        </tr>
        <tr>
            <td><b>Values</b></td>
            <td  id="org-values"
            
            >{{ org_detail.values }}</td>
        </tr>
        <tr>
            <td><b>Strategy</b></td>
            <td  id="org-strategy"
            
            >{{ org_detail.strategy }}</td>
        </tr>
        <tr>
            <td><b>Roadmap</b></td>
            <td  id="org-roadmap"
           
            >{{ org_detail.roadmap_description }}</td>
        </tr>
        <tr>
            <td><b>Visual Roadmap</b>
           
            </td>
            <td id="visual_roadmap">
                <h3 class="mt-5">Roadmap (1-3 Years)</h3>
                <div class="mermaid">
                    {{ roadmap|safe }}
                </div>

                <hr>

            </td>
        </tr>
        </tbody>
    </table>

    <b class="h5">{{organization}}</b> Project(s)
    <table class="table table-striped mb-4">
        <thead>
        <tr>
            <th width="2%">#</th>
            <th>Project Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <td width="2%">{{forloop.counter}}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
            <td>
                <a href="{% url 'project_homepage' organization.id project.id %}">View</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" class="text-center">No projects available.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    

        </div>
    </div>
{% include 'app_jivapms/mod_web/common_files/script.html' %}   
<!-- End: Content -->
{% endblock content %}
