{% extends 'app_common/common_files/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load app_web_my_filters %}
{% load markdown_extras  %}
{% load mptt_tags %}
{% block content %}
{% include 'app_common/common_files/navbar.html' %}
{% include 'app_jivapms/mod_web/common_files/css.html' %}
<!--
required from the view
project
org
org_id
-->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="content-wrapper">
    {% include 'app_organization/mod_org_image_map/breadcrumb_org_image_maps.html' %}
    
    {% include 'app_organization/mod_project/sidebar_menu.html' %}

    <div class="contentbar mb-5" id="contentbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-12">
                    <div class="container-fluid-width">
                        <div class="row">
                            <div class="col col-md-8">
                                <b class="h3">
                                    <a href="{% url 'list_organizations' %}" style="text-decoration: none;">
                                        {{organization}}
                                    </a>
                                </b>
                            </div>
                            <div class="col col-md-4 text-end">
                                <a href="{% url 'list_org_image_maps' organization_id %}"
                                 class="btn btn-sm btn-primary"><b>List Org Image Map(s)</b></a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">{{page_title}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="15%">
                                    <strong>Org Image Map</strong>
                                </td>
                                <td>
                                    {{form.name|as_crispy_field}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Description</strong>
                                </td>
                                <td>
                                    {{form.description|as_crispy_field}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Image</strong>
                                </td>
                                <td>
                                    {{form.image|as_crispy_field}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Display</strong>
                                </td>
                                <td>
                                    {{form.display_flag|as_crispy_field}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Supporting Framework</strong>
                                </td>
                                <td>
                                    {{form.supporting_frameworks|as_crispy_field}}
                                </td>
                            </tr>
                           <tr>
                                <td colspan="2" class="text-center"><button type="submit"
                                    class="btn btn-sm btn-success">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <script>
        focusField = document.getElementById('id_name');
        focusField.focus();
    </script>
    </div>
</div>
</form> 
{% endblock content %}