{% extends "app_web/base/custom_base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Password Change{% endblock title %}

<!-- Page Begin -->
{% block content %}
{% include "app_web/includes/custom_base.css.html" %}
{% include "app_web/includes/navbar.html" %}

<!-- Page Content -->
<div class="container-fluid">
    <!-- error messages -->
    <div class="row">
        <div class="col col-md-12">
           <h2>User: {{user.username}} Password Change</h2>
        </div>
    </div>
    <!-- second row -->
    <div class="row">
        <div class="col col-md-12">
            {% include "app_user/user/_password_change.html" %}
        </div>       
    </div>   
</div>
{% include "app_web/includes/footer.html" %}
{% endblock content %}
<!-- End Page-->