
<button class="toggle-btn" onclick="toggleSidebar()">
    <i class="bi bi-list"></i>
</button>
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-menu">
        <a href="/org/organization/list_organizations/" class="nav-link">
            <i class="bi bi-calendar"></i>
            <span>Organizations</span>
        </a>
        <a href="#" class="nav-link" >
            <i class="bi bi-collection"></i>
            <span>Backlog</span>
        </a>
        <a href="#" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">groups</i>
            
            <span>Team</span>
        </a>
        <a href="#" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">arrow_forward</i>
            <span>Workflow</span>
        </a>
        <a href="#" class="nav-link" >
            <i class="bi bi-kanban"></i>
            <span>Board</span>
        </a>
        <a href="#" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">event</i>
            <span>Events</span>
        </a>

        <a href="#" class="nav-link" >
            <i class="bi bi-basket"></i>
            <span>Release</span>
        </a>
        <a href="#" class="nav-link" >
            <i class="bi bi-compass"></i>
            <span>Metrics</span>
        </a>
    </div>
    <div class="settings">
        <a href="#" class="nav-link">
            <i class="bi bi-gear"></i>
            <span>Settings</span>
        </a>
    </div>
</div>
<!-- Content -->
<div class="contentbar mb-5" id="contentbar">
    <div class="container mt-5">
        <h1 class="text-center">Project: {{ project }} {{project_administration.project_state}}</h1>
            <table class="table table-bordered">
                <tbody>
                    <tr><td><b>Org Name</b></td><td>{{project.org}}</td></tr>
                    <tr><td><b>Project Name</b></td><td>{{project}}</td></tr>
                    <tr> 
                        <td><b>Vision</b></td>
                        <td contenteditable="true" onclick="makeEditable(this)" 
                        onblur="save_related_element_text(this, 'app_organization', 'Project', 
                        '{{project.id}}','pro', 'ProjectDetail', 'vision')">
                        {% if project_detail.vision != None %}{{ project_detail.vision }}{% endif %}</td>
                    </td>
                    <tr> 
                        <td><b>Mission</b></td>
                        <td contenteditable="true" onclick="makeEditable(this)" 
                        onblur="save_related_element_text(this, 'app_organization', 'Project', 
                        '{{project.id}}','pro', 'ProjectDetail', 'mission')">
                        {% if project_detail.mission != None %}{{ project_detail.mission }}{% endif %}</td>
                    </td>
                    <tr> 
                        <td><b>Values</b></td>
                        <td contenteditable="true" onclick="makeEditable(this)" 
                        onblur="save_related_element_text(this, 'app_organization', 'Project', 
                        '{{project.id}}','pro', 'ProjectDetail', 'values')">
                        {% if project_detail.values != None %}{{ project_detail.values }}{% endif %}</td>
                    </td>
                    <tr> 
                        <td><b>Strategy</b></td>
                        <td contenteditable="true" onclick="makeEditable(this)" 
                        onblur="save_related_element_text(this, 'app_organization', 'Project', 
                        '{{project.id}}','pro', 'ProjectDetail', 'strategy')">
                        {% if project_detail.strategy != None %}{{ project_detail.strategy }}{% endif %}</td>
                    </td>
                    <tr> 
                        <td><b>Roadmap Summary</b></td>
                        <td contenteditable="true" onclick="makeEditable(this)" 
                        onblur="save_related_element_text(this, 'app_organization', 'Project', 
                        '{{project.id}}','pro', 'ProjectDetail', 'roadmap_description')">
                        {% if project_detail.roadmap_description != None %}{{ project_detail.roadmap_description }}{% endif %}</td>
                    </td>
                    </tr>

                    <!-- Project details: start date and end date -->
                    <tr> 
                        <td><b>Project Template</b></td>
                        <td contenteditable="true" onclick="makeEditable(this)" 
                        onblur="save_related_element_text(this, 'app_organization', 'Project', 
                        '{{project.id}}','pro', 'ProjectDetail', 'template')">
                        {% if project_detail.template != None %}{{ project_detail.template }}{% endif %}</td>
                    </td>
                    </tr>
                    <tr> 
                        <td><b>Project Start Date</b></td>
                        <td contenteditable="true" onclick="makeEditable(this)" 
                        onblur="save_related_element_text(this, 'app_organization', 'Project', 
                        '{{project.id}}','pro', 'ProjectDetail', 'start_date')">
                        {% if project_detail.start_date != None %}{{ project_detail.start_date }}{% endif %}</td>
                    </td>
                    </tr>
                    <tr> 
                        <td><b>Project End Date</b></td>
                        <td contenteditable="true" onclick="makeEditable(this)" 
                        onblur="save_related_element_text(this, 'app_organization', 'Project', 
                        '{{project.id}}','pro', 'ProjectDetail', 'end_date')">
                        {% if project_detail.end_date != None %}{{ project_detail.end_date }}{% endif %}</td>
                    </td>
                    </tr>

                    <tr>
                        <td width="20%"><b>Visual Roadmap</b>
                        <br>
                        <a href="{% url 'list_project_roadmaps' project.id %}">Update</a>
                        </td>
                        <td id="visual_roadmap">
                            <div class="mermaid">
                                {{ roadmap|safe }}
                            </div>
                        </td>
                    </tr>
                    <!-- Additional project details -->
                </tbody>
            </table>
    </div>
