{% if user.is_authenticated %}
<button class="toggle-btn" onclick="toggleSidebar()">
    <i class="bi bi-list"></i>
</button>
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <!-- Menu-->
    <div class="sidebar-menu">
        
        <a href="{% url 'stats'  %}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">event</i>
            <span>Stats</span>
        </a>

        <a href="{% url 'super_user_admin'  %}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">people</i>
            <span>Super User Admin</span>
        </a>
    </div>



    <!-- Settings -->
    {% if user.is_superuser %}
    <div class="settings">
        <a href="" class="nav-link">
            <i class="bi bi-gear"></i>
            <span>Super User Settings</span>
        </a>
    </div>
    {% endif %}
</div>

{% endif %}