{% if user.is_authenticated %}
<button class="toggle-btn" onclick="toggleSidebar()">
    <i class="bi bi-list"></i>
</button>
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-menu">
        <a href="/org/organization/list_organizations/" class="nav-link">
            <i class="bi bi-calendar"></i>
            <span>Organizations</span>
        </a>
        {% if project.org.id %}
        <a href="{% url 'project_homepage' project.org.id project.id  %}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">home</i>
            <span>Project Home</span>
        </a> 
        <a href="{% url 'project_dvs' org_id project.id %}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">diamond</i>
            <span>Dev Value Stream</span>
        </a>
        <a href="{% url 'list_impact_mappings' org_id  %}?project_id={{project.id}}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">create</i>
            <span>Impact Mapping</span>
        </a>
        <a href="{% url 'project_roadmap' project.org.id project.id  %}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">map</i>
            <span>Roadmap</span>
        </a> 
        {% if project.project_details.template.name != None and project.project_details.template.name == 'Scrum' %}
        <a href="{% url 'view_iteration_kanban' org_id project.id %}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">event_note</i>
            <span>Planning</span>
        </a>     
        {% endif %}

        <a href="{% url 'view_project_tree_backlog' project.id %}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">checklist</i>
            <span>Backlog</span>
        </a>     
        {% if project.project_details.template.name != None and project.project_details.template.name == 'Scrum' %}
        <a href="{% url 'view_project_tree_board' project.id %}?project_id={{project.id}}" class="nav-link" >
            <i class="bi bi-kanban"></i>
            <span>Board</span>
        </a>
        {% else %}
        <a href="{% url 'view_project_tree_board_custom' project.id %}?project_id={{project.id}}" class="nav-link" >
            <i class="bi bi-kanban"></i>
            <span>Board</span>
        {% endif %}

        <a href="{% url 'list_project_workflows' project.id %}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">arrow_forward</i>
            <span>Workflow</span>
        </a>

        {% endif %}






        {% if org_id %} 
        
       
        <a href="{% url 'list_teams' org_id %}{% if project.id %}?project_id={{project.id}}{% endif %}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">groups</i>            
            <span>Teams</span>
        </a>
        
       
        <a href="{% url 'list_org_events' org_id %}{% if project.id %}?project_id={{project.id}}{% endif %}" class="nav-link" >
            <i class="material-icons" style="font-size: 18px;">event</i>
            <span>Events</span>
        </a>

        <a href="{% url 'list_org_releases' org_id %}{% if project.id %}?project_id={{project.id}}{% endif %}" class="nav-link" >
            <i class="bi bi-box"></i>
            <span>Release</span>
        </a>
        
        <a href="{% url 'list_org_metrics' org_id %}{% if project.id %}?project_id={{project.id}}{% endif %}" class="nav-link" >
            <i class="bi bi-bar-chart-line"></i>
            <span>Metrics</span>
        </a>
        
        {% if project.id %}
        <a href="{% url 'view_project_metrics' project.id %}" class="nav-link" >
            <i class="bi bi-compass"></i>
            <span>Project Metrics</span>
        </a>
        {% endif %}

        <!-- <a href="{% url 'list_org_image_maps' org_id %}" class="nav-link" >
            <i class="bi bi-image"></i>
            <span>Organization Layout</span>
        </a>
        
        <a href="{% url 'list_frameworks' org_id %}" class="nav-link" >
            <i class="bi bi-collection"></i>
            <span>Framework</span>
        </a>

        <a href="{% url 'list_impact_mappings' org_id %}" class="nav-link" >
            <i class="bi bi-diagram-3"></i>
            <span>Impact Mapping</span>
        </a>
        <a href="{% url 'list_personae' org_id %}" class="nav-link" >
            <i class="bi bi-collection"></i>
            <span>Persona Story Mapping</span>
        </a>

        <a href="{% url 'list_blogs' org_id %}" class="nav-link" >
            <i class="bi bi-list"></i>
            <span>Blog</span>
        </a> -->
       
    
    {% endif %}
    </div>
    {% if project.org.id %}
    <div class="settings">
        <a href="{% url 'project_settings_page' org_id project.id %}" class="nav-link">
            <i class="bi bi-gear"></i>
            <span>Settings</span>
        </a>
    </div>
    {% endif %}
</div>

{% endif %}