<form action="" method="POST">
    {% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-start">
            <br>
           <b class="h2">Register or </b> 
           <b class="h2"><a href="{% url 'login_page' %}">Login</a></b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-text-center">
            <input type="text" id="username" name="username" placeholder="Username"
            size="50" maxlength="200">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-text-center">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-text-center">
            <input type="password" id="password1" name="password1" placeholder="Password"
            size="50" maxlength="200">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-text-center">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-text-center">
            <input type="password" id="password2" name="password2" placeholder="Confirm Password"
            size="50" maxlength="200">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-text-center">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-text-center">
            <input type="password" id="reg_code" name="reg_code" placeholder="Registration Code"
            size="50" maxlength="200">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-text-center">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 align-text-center">
            <input type="submit" id="submit" name="register" value="Register">
            &nbsp;&nbsp;
            <input type="reset" id="reset" name="clear" value="Clear">
        </div>
    </div>
</div>
</form>
