{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load app_web_my_filters %}
{% load markdown_extras  %}
{% load mptt_tags %}
<style>
    .iteration_current_class {
    background-color: #ffeb3b; /* Highlight color, adjust as needed */
    color: #000; /* Text color for contrast */
    font-weight: bold; /* Make the text bold for emphasis */
    border: 1px solid #fbc02d; /* Optional: Add a border to further highlight */
}

.table {
    font-size: 12px;
}
</style>
<b>FLOW TAB</b>
<ul>
    <li>Release Start and End Date is the scope of the flow</li>
    <li>Release CFD</li>
    <li>Iteration CFD</li>
    <li>Summary/Insights</li>
</ul>

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <table>
                <tr>
                    <td>
                        <b>Release:</b>
                        &nbsp;
                        {{current_release}}
                        &nbsp;
                        &nbsp;
                    </td>
                    <td>
                        <b>Start Date:</b>
                        &nbsp;
                        &nbsp;
                    </td>
                    <td>
                        {{current_release.release_start_date}}
                        &nbsp;&nbsp;
                    </td>
                    <td>
                        <b>End Date:</b>
                        &nbsp;
                        &nbsp;
                    <td>
                        {{current_release.release_end_date}}
                        &nbsp;&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>


        <div class="row">
            <div class="col col-md-6">
                <canvas id="cfdChart" width="600" height="400"></canvas>
            </div>
        </div>
</div>