{% extends 'app_common/common_files/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load app_web_my_filters %}
{% load markdown_extras  %}
{% load mptt_tags %}
{% block content %}
{% include 'app_common/common_files/navbar.html' %}
{% include 'app_jivapms/mod_web/common_files/css.html' %}
<!--
required from the view
project
org
org_id
-->
<style>
    /* Ensure whitespace formatting is preserved */
    #id_content {
        white-space: pre-wrap; /* Preserves whitespace and wraps text */
        font-family: monospace; /* Optional: mimics Markdown editor style */
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
</style>
<form method="post">
{% csrf_token %}
<div class="content-wrapper">
    {% include 'app_organization/mod_blog/breadcrumb_blogs.html' %}
    
    {% include 'app_organization/mod_project/sidebar_menu.html' %}

    <div class="contentbar mb-5" id="contentbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-12">
                    <div class="container-fluid-width">
                        <div class="row">
                            <div class="col col-md-8">
                                <h2>{% if form.instance.pk %}Edit{% else %}Create{% endif %} 
                                    Blog</h2>
                            </div>
                            <div class="col col-md-4 text-end">
                                <a href="{% url 'list_blogs' organization_id %}"
                                 class="btn btn-sm btn-primary"><b>List Blog(s)</b></a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">{{page_title}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="15%">
                                    <strong>Blog</strong>
                                </td>
                                <td>
                                    {{form.name|as_crispy_field}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Description</strong>
                                </td>
                                <td>
                                    {{form.description|as_crispy_field}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Content in .md syntax</strong>
                                </td>
                                <td>
                                    {{form.content|as_crispy_field}}
                                </td>
                            </tr>
                           <tr>
                                <td colspan="2" class="text-center"><button type="submit"
                                    class="btn btn-sm btn-success">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <script>
        focusField = document.getElementById('id_name');
        focusField.focus();
    </script>
    </div>
</div>
</form> 
{% endblock content %}
