{% extends 'app_common/common_files/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load app_web_my_filters %}
{% load markdown_extras  %}
{% load mptt_tags %}
{% block content %}
{% include 'app_common/common_files/navbar.html' %}
{% include 'app_jivapms/mod_web/common_files/css.html' %}
<!--
required from the view
project
org
org_id
-->
<form method="post">
{% csrf_token %}
<div class="content-wrapper">
    {% include 'app_organization/mod_blog/breadcrumb_blogs.html' %}
    
    {% include 'app_organization/mod_project/sidebar_menu.html' %}

    <div class="contentbar mb-5" id="contentbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-12">
                    <h2>{{object}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</form> 
{% endblock content %}