{% extends 'app_common/common_files/base_template.html' %}
{% load static %}

{% block content %}
{% include 'app_common/common_files/navbar.html' %}
{% include 'app_jivapms/mod_web/common_files/css.html' %}

    <div class="content-wrapper">
        {% include 'app_organization/mod_project/sidebar_menu.html' %}
        

        <div class="contentbar" id="contentbar">
            <!-- <div id="loading">Loading...</div> -->
            <div id="content">
                <!-- Welcome Super Admin dashboard -->
                <div id="listSiteContent" style="display: none;">
                    <h1>Welcome {{role}}: {{user.username | title}} </h1>
                    <p>This is your role related page, and you can navigate with the following links.</p>
                    
                    <!--
                        ABOUT THE ORG ROLES AND PROJECT ROLES in tabular column
                    -->
                    <div class="row">
                        <div class="col col-md-6">
                            <table class="table table-bordered">                                
                                {% for user_data in user_roles_data %}                                
                                <tr>
                                    <th colspan="3" class="text-start"><h3>Your Role in Organization(s).</h3></th>
                                </tr>        
                                <tr>
                                    <th width="1%" class="text-center">#</th>
                                    <th>Org</th>
                                    <th>Role</th>
                                </tr>                           
                                    {% for role in user_data.roles %}<tr>
                                        <td width="1%" class="text-end">{{forloop.counter}}</td>
                                        <td width="10%"><a href="{% url 'org_homepage' role.org_id %}">
                                            <b>{{ role.org_name }}</b>
                                        </a></td>
                                        <td width="10%">{{ role.role_name }}</td>
                                        <!-- <td width="10%">{{ role.lc_role_name }}</td>    -->
                                    </tr>{% endfor %}
                                {% endfor %}        
                            </table>
                                              
                            
                        </div>
                        <div class="col col-md-6">
                            <table class="table table-bordered">     
                                <tr>
                                    <th colspan="4" class="text-start"><h3>Your Project Access</h3></th>
                                </tr>  
                                <tr>
                                    <th width="1%"  class="text-center">#</th>
                                    <th>Org</th>
                                    <th>Project</th>
                                    <th>Role</th>
                                </tr>
                                {% for project_detail in project_details %}<tr>
                                    <td width="1%" class="text-end">{{forloop.counter}}</td>
                                    <td width="10%"><a href="{% url 'org_homepage' role.org_id %}">
                                        <b>{{project_detail.org.name}}</b>
                                    </a></td>
                                    <td width="10%"><a href="{% url 'project_homepage' project_detail.org.id project_detail.project_id%}">
                                        <b>{{project_detail.project_name}}</b>
                                    </a></td>
                                    <td width="10%">{{project_detail.role}}</td>
                                    <!-- <td width="10%">{{ role.lc_role_name }}</td>    -->
                                </tr>   
                                {% endfor %}
                            </table>    
                        </div>
                    </div>

                    <!--
                        List of options for the role
                    -->
                    <div class="row">
                        <div class="col col-md-6">
                            <table class="table table-bordered">                                
                                                         
                                <tr>
                                    <th colspan="3" class="text-start"><h3>Mapping the Value &amp; Flow</h3></th>
                                </tr>        
                                <tr>
                                    <th width="1%" class="text-center">#</th>
                                    <th>Mapping Concept</th>
                                    <th>Implementation</th>
                                </tr>                           
                               
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <p class="description_text">Impact Mapping is a strategic planning technique that prevents organisations 
                                            from getting lost while building products and delivering projects, 
                                            by clearly communicating assumptions, helping teams align their 
                                            activities with overall business objectives and make better roadmap decisions.</p>
                                    </td>
                                    <td>
                                        <a href="{% url 'list_impact_mappings' org_id %}"><b>Impact Mapping</b></a>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <p class="description_text">Story Mapping is a better way representing your flat backlog into two and three dimensional backlog
                                            and helps us to work with Agile User Stories with a context. 
                                            It helps to create a shared understanding of the work and its deliverables, 
                                            and helps to prioritize the work that needs to be done.</p>
                                    </td>
                                    <td>
                                        <ul>
                                            <li><a href="{% url 'create_story_map' org_id %}"><b>Story Mapping from Begining</b></a></li>
                                            <br>
                                            <li><a href="{% url 'list_personae' org_id %}"><b>Story Mapping by Persona</b></a></li>
                                        </ul>
                                    </td>
                                    
                                </tr>
                                    
                            </table>
                                              
                            
                        </div>
                        <div class="col col-md-6">
                            
                        </div>
                    </div>


                </div>
                
                <div id="settingsContent" style="display: none;">
                    <h1>Settings</h1>
                    <p>Configure and adjust Site settings and preferences.</p>
                </div>
                <div id="dashboardContent" style="display: none;">
                    <h1>OrgAdmin Dashboard</h1>
                    <p>Information about the Organization.</p>
                    
                    <div class="row">
                        <!-- Pie Chart for Organizations Overview -->
                        <div class="col-md-4">
                            <canvas id="organizationsChart" style="max-width: 400px;"></canvas>
                        </div>

                        <!-- Pie Chart for Projects Overview -->
                        <div class="col-md-4">
                            <canvas id="projectsChart" style="max-width: 400px;"></canvas>
                        </div>

                        <!-- Line Chart for Users Growth -->
                        <div class="col-md-4">
                            <canvas id="usersChart" style="max-width: 400px;"></canvas>
                        </div>
                    </div>
                </div>      
                
                <div id="aboutContent" style="display: none;">
                    <h1>About the Project</h1>
                    <p>Information about the project's goals, team, and background.</p>
                   
                </div>               
                <div id="profileContent" style="display: none;">
                    <h1>User Profile</h1>
                    <p>Manage your profile information and settings.</p>
                </div>
                <div id="logoutContent" style="display: none;">
                    <h1>Logout</h1>
                    <p>You have been logged out.</p>
                </div>
            </div>
        </div>
    </div>
{% include 'app_jivapms/mod_web/common_files/script.html' %}   
<!-- End: Content -->
{% endblock content %}
