
{% extends 'app_common/common_files/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load app_web_my_filters %}
{% load markdown_extras  %}
{% load mptt_tags %}
{% block content %}
{% include 'app_common/common_files/navbar.html' %}
{% include 'app_jivapms/mod_web/common_files/css.html' %}

<!-- Begin: Content -->
<div class="content-wrapper">
   {% include 'app_organization/mod_board_card/breadcrumb_board_cards.html' %}
    
    {% include 'app_organization/mod_project/sidebar_menu.html' %}
    <form method="post">
    {% csrf_token %}
    <div class="contentbar mb-5" id="contentbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12">
                <div class="container-fluid-width">
                    <div class="row">
                        <div class="col col-md-3"></div>
                        <div class="col col-md-6">
                           <b>{{project_board}}'s </b> Board Card Settings <br>
                           Please select which attributes needs to be displayed on the Card for this Board.
                        </div>
                        <div class="col col-md-3 text-end">
                            <a href="{% url 'view_project_tree_board' project.id %}"
                             class="btn btn-sm btn-success me-2"><b>Back to Board</b></a>

                             <a href="{% url 'list_project_boards' project.id %}"
                             class="btn btn-sm btn-primary"><b>Project Boards</b></a>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col col-md-3"></div>
                        <div class="col col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="2">{{page_title}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for field_name in boolean_fields %}
                                    {% if field_name != 'active' and field_name != 'deleted' %}
                                    <tr>
                                        <td width="10%" class="text-end">
                                            <strong>{{ field_name|replace_underscore|title }}</strong>
                                        </td>
                                        <td width="10%" class="text-start">
                                            <input type="checkbox" id="checkbox-{{ board_card_settings.id }}-{{ field_name }}"
                                                   onchange="updateCheckboxState({{ board_card_settings.id }}, '{{ field_name }}', this.checked)"
                                                   {% if board_card_settings|get_attr:field_name %}checked{% endif %}>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                   <tr>
                                        <td colspan="2" class="text-center"><button type="submit"
                                            class="btn btn-sm btn-success">Save</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col col-md-3"></div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
</div>
</form>
<script>
    function updateCheckboxState(itemId, checkboxField, isChecked) {
    $.ajax({
        url: '/common/common_ajax/ajax_update_checkbox_state/',  // Ensure this URL is correct
        type: 'POST',
        data: {
            'id': itemId,
            'checkbox_field': checkboxField,
            'checkbox_value': isChecked ? 'true' : 'false',  // Send 'true' or 'false' as string
            'model_name': 'BoardCard',
            'app_name': 'app_organization',
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
            console.log('Update successful!', response);
            // Optionally update UI without reload
            // Example: $('#checkbox-' + itemId).prop('checked', isChecked);
            location.reload();  // Reload only if necessary
        },
        error: function(xhr, status, error) {
            console.error('An error occurred:', error);
        }
    });
}

</script>

<!-- End: Content -->
{% endblock content %}
