
{% extends 'app_common/common_files/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load app_web_my_filters %}
{% load markdown_extras  %}
{% load mptt_tags %}
{% block content %}
{% include 'app_common/common_files/navbar.html' %}
{% include 'app_jivapms/mod_web/common_files/css.html' %}
<style>
  .trash-icon {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 24px;  /* Size of the icon */
    cursor: pointer;
    color: #707070;  /* Color of the icon */
  }
</style>
<!-- Begin: Content -->
<div class="content-wrapper">
   {% include 'app_organization/mod_board_card/breadcrumb_board_cards.html' %}
    
    {% include 'app_organization/mod_project/sidebar_menu.html' %}
    <form method="post">
    {% csrf_token %}
    <div class="contentbar mb-5" id="contentbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-12">           
                    <!-- display -->
                    
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="container-fluid-width">
                                <div class="row pb-2">
                                    <div class="col col-md-5">                                
                                        <b class="h3">
                                        <a href="{% url 'list_project_boards' project.id %}" style="text-decoration: none;">
                                            {{organization}}
                                        </a>
                                        </b>
                                        &nbsp;&nbsp;
                                        Board Card List
                                    
                                    </div>
                                    <div class="col col-md-4">
                                        <form method="get">
                                            <input type="text" name="search" placeholder="Search" value="{{ search }}">
                                            &nbsp;&nbsp;  
                                            <button type="submit" class="btn btn-sm btn-primary">Search</button> 
                                            &nbsp;&nbsp;  
                                            <button type="submit" class="btn btn-sm btn-info">Clear</button>   
                                        </form>
                                    </div>
                                    <div class="col col-md-3 text-end">
                                        <span class="display_count">{{objects_count}} board_card(s)</span>
                                        &nbsp;&nbsp;
                                        <a href="{% url 'create_board_card' project_board_id  %}" 
                                        class="btn btn-sm btn-success"><b>+ Create Board Card</b></a>
                                        
                                        &nbsp;&nbsp;
                                        <a href="{% url 'list_project_boards' project.id %}" class="btn btn-primary">
                                            <i class="bi bi-arrow-left"></i>
                                        </a>
                                        &nbsp;&nbsp;
                                        {% if deleted_count > 0 %}
                                        <a href="{% url 'list_deleted_board_cards' project_board_id %}"><i class="bi bi-trash-fill"></i></a>   
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <form action="" method="POST">
                            {% csrf_token %}
                            <table class="table table-bordered sortable_table">
                                <thead>
                                    <tr>
                                        <th width="2%"><i class="bi bi-grip-vertical"></i></th>
                                        <th width="2%">
                                            <input type="checkbox" name="select_all" id="select_all" onclick='checkUncheck(this)'>
                                        </th>                                
                                        <th width="2%">#</th>
                                        <th>Board Card</th>
                                        <th width="20%">Description</th>
                                        <th width="10%">Configure</th>
                                        <th width="50%">                                    
                                            Actions
                                            &nbsp;&nbsp;
                                            <select name="pagination" id="paginationselect">
                                                <option value="none" {% if selected_pagination == 'none' %}selected{% endif %}>-Page-</option>
                                                {% for option in pagination_options %}
                                                    <option value="{{ option }}" {% if show_all|lower == option|lower|stringformat:"s" %}selected{% endif %}>
                                                        {{ option|capfirst }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            
                                            &nbsp;&nbsp;
                                            <b>Bulk:</b>&nbsp;&nbsp; 
                                            <select name="bulk_operations" id="bulk_operations"  onchange="this.form.submit()">
                                                <option value="none" {% if 'none' in selected_bulk_operations %}selected{% endif %}>-- Ops --</option>
                                                <option value="bulk_done" {% if 'bulk_done' in selected_bulk_operations %}selected{% endif %}>Done</option>
                                                <option value="bulk_not_done" {% if 'bulk_not_done' in selected_bulk_operations %}selected{% endif %}>Not Done</option>
                                                <option value="bulk_blocked" {% if 'bulk_blocked' in selected_bulk_operations %}selected{% endif %}>Blocked</option>
                                                <option value="bulk_delete" {% if 'bulk_delete' in selected_bulk_operations %}selected{% endif %}>Delete</option>
                                            </select>
                                                                
                                        </th>
                                    </tr>
                                </thead>

                                <tbody  id="sortable" class="sortable-tbody">
                                    {% for tobject in page_obj %}
                                    <tr id="{{tobject.id}}_{{ forloop.counter }}" class="sortable-row display_tr">
                                        <td class="drag-handle">
                                            <i class="bi bi-grip-vertical"></i>
                                        </td>
                                        <td width="2%">
                                            <input type="checkbox" name="selected_item" id="selected_item_ids" value="{{tobject.id}}">
                                        </td>
                                        <td>{{forloop.counter}}</td>
                                        <td width="20%" ondblclick="makeEditable(this)"
                                        onblur="save_element_text(this, '{{ tobject.id }}',  'app_organization', 'BoardCard', 'name')"
                                        ><strong>{% if tobject.name != None %}{{tobject.name}}{% endif %}</strong></td>
                                        <td width="" ondblclick="makeEditable(this)"
                                        onblur="save_element_text(this, '{{ tobject.id }}',  'app_organization', 'BoardCard', 'description')"
                                        >{% if tobject.description != None %}{{tobject.description}}{% endif %}</td>
                                        <td width="20%">
                                        
                                        </td>
                                        <td width="50%">
                                            <a href="{% url 'view_board_card' project_board_id  tobject.id  %}"
                                            class="btn btn-sm btn-primary"><i class="bi bi-eye"></i></a>
                                            &nbsp;&nbsp;
                                            <a href="{% url 'edit_board_card' project_board_id  tobject.id %}"
                                            class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
                                            &nbsp;&nbsp;
                                            <a href="{% url 'delete_board_card' project_board_id  tobject.id %}"
                                            class="btn btn-sm btn-danger"><i class="bi bi-x-square"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                    <tr>
                                        <td colspan="7">
                                            {% include 'app_common/common_files/pagination.html' %}
                                        </td>
                                    </tr>                        
                            </table>
                        <!-- end display -->
                </div>
            </div>
        
        </div>
    </div>
</div>
</form>
<script>
// Select all / checkbox
function checkUncheck(checkBox) {
    get = document.getElementsByName('selected_item');
    for(var i=0; i<get.length; i++) {
        get[i].checked = checkBox.checked;
    }
}
</script>

<script>
    // pagination select
document.addEventListener("DOMContentLoaded", function () {
  const redirectSelect = document.getElementById("paginationselect");
  redirectSelect.addEventListener("change", function () {
    const selectedValue = redirectSelect.value;
    
    // Redirect the user based on the selected value
    if (selectedValue === "5") {
      window.location.href = "{% url 'list_board_cards' project_board_id %}?page=1&all=5";
    } else if (selectedValue === "10") {
      window.location.href = "{% url 'list_board_cards' project_board_id %}?page=1&all=10";
    } else if (selectedValue === "15") {
      window.location.href = "{% url 'list_board_cards' project_board_id %}?page=1&all=15";
    } else if (selectedValue === "25") {
      window.location.href = "{% url 'list_board_cards' project_board_id  %}?page=1&all=25";
    } else if (selectedValue === "50") {
      window.location.href = "{% url 'list_board_cards' project_board_id %}?page=1&all=50";
    } else if (selectedValue === "100") {
      window.location.href = "{% url 'list_board_cards' project_board_id %}?page=1&all=100";
    } else if (selectedValue === "all") {
      window.location.href = "{% url 'list_board_cards' project_board_id %}?page=1&all=all";
    } 
    // Add more conditions for other options as needed
  });
});
</script>

<script>
    $(".sortable_table").find("tbody").sortable({
      items: "> tr",
      handle: ".drag-handle",
      appendTo: "parent",
      cancel: "[contenteditable]",
      update: function(event, ui) {
              var serialOrder = $('#sortable').sortable('serialize');
              var arrayOrder = $('#sortable').sortable('toArray');
              //alert(arrayOrder);
              $.ajax({
                url: '/common/common_ajax/ajax_update_model_list_sorted/',
                type: 'POST',
                data : {
                  'csrfmiddlewaretoken': "{{ csrf_token }}",
                  'model_name': 'BoardCard',
                  'app_name': 'app_organization',
                  'sorted_list_data': JSON.stringify(arrayOrder),
                  
                },
                dataType: 'json',
                success: function(data) {
                  console.log(data);
                }
              })
            }
    });
</script>


<script>
    function makeEditable(element) {
        element.contentEditable = true;
        element.focus();
    }


    function save_element_text(element, id,  appName, modelName, fieldName) {
        element.contentEditable = false;
        $.ajax({
            url: '/common/common_ajax/ajax_save_element_text/',
            type: 'POST',
            data : {
            'csrfmiddlewaretoken': "{{ csrf_token }}",
            'model_name': modelName,
            'app_name': appName,
            'field_name': fieldName,
            'text': element.textContent, 
            'id': id,
            },
            dataType: 'json',
            success: function(data) {
            console.log(data);
            }
        })
    }
</script>

<!-- End: Content -->
{% endblock content %}
