{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load app_web_my_filters %}
{% load markdown_extras %}
{% load mptt_tags %}
<!-- partials/details_row.html -->
<td>
    <div class="content-header">Backlog</div>
</td>
<td colspan="" class="backlog-drop-zone"
ondragover="allowDrop(event)"
ondrop="dropToBacklog(event)">
<form method="post" action="">
{% csrf_token %}
<input type="hidden" name="project_id" value="{{ pro_id }}">
<input type="hidden" name="persona_id" value="{{ persona.id }}">
<input type="hidden" name="submit_detail" value="submit_detail">
    <input type="text" name="detail" id="detail" size="20" maxlength="20">
</form>

{% for backlog_item in backlog|filter_active %}
{% if backlog_item.release_id == None  %}
<div class="step-item draggable-backlog"  draggable="true" id="backlog-{{ backlog_item.id }}"
ondblclick="makeEditable(this);" 
onblur="save_element_text(this, '{{backlog_item.id}}',  'app_organization', 'Backlog', 'name')"    

>
    {{ backlog_item.name }}  
</div>
{% endif %}
{% endfor %}
</td>

<!-- Add Step Button -->
<td>
    <button class="add-details-button" 
            data-project-id="{{ pro_id }}" 
            data-persona-id="{{ persona.id }}"
            data-org-id="{{ org_id }}"
            title="Add Detail">+</button>
</td>

<script>

    document.getElementById("detail").focus();

    var steps_row = document.getElementById("steps-row");
    var steps_row_tds = steps_row.getElementsByTagName("td");
    var steps_row_td_count = steps_row_tds.length;
    var backlog_drop_zone = document.getElementsByClassName("backlog-drop-zone")[0];
    backlog_drop_zone.colSpan = steps_row_td_count - 2;
    console.log(steps_row_td_count);
</script>