{% extends 'app_common/common_files/base_template.html' %}
{% load static %}

{% block content %}
{% include 'app_common/common_files/navbar.html' %}
{% include 'app_jivapms/mod_web/common_files/css.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Home Page for {{user.username}}</h1>
            <p>
                Here you will have access to all the features of the JivaPMS platform.
            </p>
        </div>
    </div>
</div>
{% include 'app_jivapms/mod_web/common_files/script.html' %}   
<!-- End: Content -->
{% endblock content %}
