{% extends 'app_common/common_files/base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load app_web_my_filters %}
{% load markdown_extras  %}
{% load mptt_tags %}
{% block content %}
{% include 'app_common/common_files/navbar.html' %}
{% include 'app_jivapms/mod_web/common_files/css.html' %}
<!--
required from the view
project
org
org_id
-->
<form method="post">
{% csrf_token %}
<div class="content-wrapper">
    <nav aria-label="breadcrumb" class="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'list_organizations' %}">Organizations</a></li>
            <li class="breadcrumb-item"><a href="{% url 'list_projects' project.org.id %}">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project }}</li>
        </ol>
    </nav>
    
    {% include 'app_organization/mod_project/sidebar_menu.html' %}

    <div class="contentbar mb-5" id="contentbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-12">
                    <div class="container-fluid-width">
                        <div class="row">
                            <div class="col col-md-8">
                                <h2>View 
                                    Release :: {{object}}</h2>
                            </div>
                            <div class="col col-md-4 text-end">
                                <a href="{% url 'list_releases' pro_id %}"
                                 class="btn btn-sm btn-primary"><b>List Release</b></a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <div class="container-fluid-width">
                                        <div class="row">
                                            <div class="col col-md-5">
                                                {{page_title}}:: {{object}}
                                            </div>
                                            <div class="col col-md-7">
                                                <div class="text-end">
                                                    <a href="{% url 'edit_release' pro_id object.id %}" class="btn btn-sm btn-primary"><b>Edit</b></a>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a href="{% url 'delete_release' pro_id object.id %}" class="btn btn-sm btn-danger"><b>Delete</b></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="15%">
                                    <strong>Release</strong>
                                </td>
                                <td>
                                    {{object.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Description</strong>
                                </td>
                                <td>
                                    {{object.description}}
                                </td>
                            </tr>                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</form> 
{% endblock content %}