{% extends 'app_common/common_files/base_template.html' %}
{% load static %}

{% block content %}
{% include 'app_common/common_files/navbar.html' %}
{% include 'app_jivapms/mod_web/common_files/css.html' %}

    <div class="content-wrapper">
        {% include 'app_organization/mod_project/sidebar_menu.html' %}
        

        <div class="contentbar" id="contentbar">
            <!-- <div id="loading">Loading...</div> -->
            <div id="content">
            <!-- PAGEADMIN -->
                

                
               
            </div>
        </div>
    </div>

<!-- End: Content -->
{% endblock content %}
